html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Utilities */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/*@font-face {
     font-family: 'StateFaceRegular';
     src: url('webfont/stateface-regular-webfont.eot');
     src: url('webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('webfont/stateface-regular-webfont.woff') format('woff'),
          url('webfont/stateface-regular-webfont.ttf') format('truetype'),
          url('webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }*/


body {
	margin:0px;
	padding: 0px;
	font-family: 'Lato', sans-serif; 
	}

h1 {
	font-family: 'Montserrat', sans-serif; 
	text-transform: uppercase;
	text-align: center;
	/*background-color: yellow;*/
	/*padding: 10px;*/
	}

h3 {
	line-height: 26px;
	color:#6C6C6C;
	font-weight:normal;
	font-size:18px;
	letter-spacing: 1px;
	}
h4 {
	font-family: 'Lato', sans-serif;
	font-weight: lighter; 
	text-transform:uppercase; 
	letter-spacing: 1px; 
	}

p{
	font-weight: 200;
	margin-top: 0px;
	color:#817E7E;
	line-height: 1.5;
  	font-size: .95em;
	}

ul, li{
	font-weight: 200;
	margin-top: 5px;
	margin-bottom: 5px;
	color:#817E7E;
	line-height: 1.5;
  	font-size: .95em;
	}	


button {
	border: 2px solid black;
 	padding: 10px;
  	background: transparent;
  	border-radius: 2px;
  	font-size: 16px;
  	text-transform: uppercase;
  	font-family: 'Montserrat', sans-serif;
  	-webkit-transition: all .3s;
  	-moz-transition: all .3s;
  	transition: all .3s; 
	}

button:hover {
	cursor: pointer;
	color: white;
	background-color: black;
	}

.sect-title {
	max-width: auto;
	}






.container {
	margin: 0px;
	}

.section-wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 950px;
	}

/* columns */
.columns-2 {
	float:left; 
	width: 47%; 
	margin-right: 1.5%; 
	}

.3-col {
	float: left;
	width: 30%;
	}


/* page nav */
.logo {
	color: #000000;
	padding: 0px;
	margin: 0px;
	float: left;
	font-size: 12px;
  	letter-spacing: 2px;
  	opacity: .5;
	}		


.nav-wrapper {
	background-color:transparent;
    transition: all 0.25s ease;
    top:0;
	text-align: left;
	margin-top: 0px;
	padding: 20px;
	position: fixed;
  	width: 100%;
  	font-family: 'Montserrat', sans-serif; 
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	-webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
	}

.past-main{
	background-color: #000000;
	border-bottom: 1px solid white;
	}

@media (max-width: 480px) {
	.logo {
	color: #FFFFFF;
	}
	.nav-wrapper {
		background-color: #000000;
		color: #FFFFFF;
	}	
ul.site-top-nav{
	display: none;
	}
		}
	.togglebar {
		  float: right;
		}
	button.navtoggle  {
		background-color: white;
		color: #000000;
	}
	button.navtoggle:hover  {	
	}


@media (min-width: 480px) {	

	.navtoggle {
		display: none;
	}

ul.site-top-nav{
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;
	}

.site-top-nav li{
	display: inline;
 	text-align: center;
	}

.site-top-nav li:last-child {
	padding-right: 20px;
	}

.site-top-nav a {
	text-decoration: none;
	color: #000000;
	-webkit-transition: all .3s;
  	-moz-transition: all .3s;
  	transition: all .3s;
  	padding: 15px;
  	margin: 5px 0px 0px 0px;
  	border: 2px solid transparent;
  	font-size: 12px;
  	letter-spacing: 2px;
  	opacity: .5;
	}

.site-top-nav a:hover{
	opacity: 1;
	}
}	

/* nav change after scroll */	
.past-main-font {
	text-decoration: none;
	color: #FFFFFF !important;
	}



/* header section */
section.intro {
	background-color: #F7F7F7;
	}

.intro h1 {
	font-size: 36px;
	font-family: 'Montserrat', sans-serif; 
	text-transform: uppercase;
	padding: 0px;
	margin: 0px 0px -10px;
	}

.intro h4 {
	margin: 15px 0px 0px 0px;
	}		

.intro-wrapper{
	padding:230px 20px;
	margin: 0 auto;
	max-width: 950px;
	}
	
.intro-box {
	padding: 80px 40px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000000;
	}

.intro-button {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	}					

/* featured work */
.work-wrapper{
	padding: 100px 0px;
}

.showcase-row{
	display: flex;
	flex-flow: row wrap;
	}

.flex-col {
	flex:1 2 auto;
}	

.tiles{
	margin: 10px 10px 10px 0px;
	max-width: 350px;
	text-align: center;
	}
.tiles img{	
	max-width: 100%;
	}



.reveal .hidden { 
	display: block !important; 
	visibility: visible !important; 
	}
.product:hover .reveal img { 
	opacity: 1; 
	}
.reveal { 
	position: relative; 
	}

.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;  
	}
.reveal:hover .hidden { 
  z-index: 100000;
  opacity: 1;    
	}
.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: white; /* fallback for IE8 */
  background-color: rgba(255, 255, 255, 0.9);
  font: 14px/1.6 Lato, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #777;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
	}
.reveal .hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
	}

@media (min-width: 480px) and (max-width: 979px) {
  .reveal .caption { 
    font-size: 12px; 
  }
}

.hover-label {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  cursor: pointer;
  height: 100%;
  position: absolute;
  padding: 25% 15px 0 15px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  text-align: center;
  vertical-align: middle;
}





/*about section */
.about-wrap {
	padding: 200px 0px;
	}

.about-intro {
	 width: 60%;
  	margin: 0 auto;
  	text-align: center;
	}
.about-col {
	float:left; 
	width:25%; 
	padding:15px;
	}		

.about-col h4 { 
	margin-bottom:10px;
	}
.about-icon {
	font-size:30px; 
	padding-right: 10px; 
	vertical-align:middle;

}


/*design all the things */
.space-wrapper {
	padding:275px 20px;
	margin: 0 auto;
	max-width: 950px;
	}

.quote-box {
	padding: 80px 40px;
  	width: 80%;
  	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 28px;
	}




/* experience*/

section.experience {
	background-color: #f7f7f7
	}

.experience-wrap{
	padding: 150px 0px;
	}

.experience h4{
	border-bottom: 1px solid #817E7E;
  padding: 0px 5px 5px 0px;
  margin: 0px 45px 5px 0px;
	}	


/* quote */

.quote-wrapper {
	padding: 200px 0px;
	}




/* contact */
.contact-wrap {
	padding: 100px 0px;
	}


/* form styles */
form {
    margin: 0 auto;
    max-width: 450px;
    padding: 1em;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    color:#817E7E;
    letter-spacing: 1px;
	}

form div + div {
    margin-top: 1em;
	}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
	}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #C7C7C7;
    margin: 2px 0px;
    height: 30px;
    border-radius: 2px;
}

input:focus, textarea:focus {
    border-color: #000;
	}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
	}		
form .button {
	text-align: right;
	margin: 20px 30px 0px 0px;
}


/* social */


.social-wrap {
	margin: 0 auto;
	max-width: 950px;
	padding: 30px 20px;
}


.inline-social { 
	margin-bottom: 0; 
	padding-left: 0; 
	list-style:none;
	text-align: center;
}

.inline-social > li {
	display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

ul.inline-social li a {
	display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 50px;
  outline: 0;
  color: #000;
  background-color: transparent;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-align:center;
  text-decoration:none;
	}


ul.inline-social li a:hover {
	color:black;
	text-decoration:none;
	background-color: #FFFFFF;
	}


/*footer */
footer {
	background: #F2F2F2;
	}

.footer-inner{
	margin: 0 auto; 
	text-align:center; 
	padding:50px 15px 15px 15px;

	}

.footer-inner p{
	color: rgb(166, 166, 166);
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	}

@media screen and (max-width:780px) {
	.intro-wrapper {
		padding: 150px 0px;
		}
	.columns-2 {
		float: none;
		width: 100%;
	}
	.contact-inner {
		float: none;
  		max-width: 450px;
  		margin: 0 auto;
  		text-align: center;
	}
		
}

@media screen and (max-width:580px) {
	.about-col {
		float: none;
		width: 100%;
		padding: 0px;
		}
	}

@media screen and (max-width:480px) {
	form {
		max-width: 100%;
		padding: 0px;
		}
	label {
		text-align: left;
		max-width: 100%
		}
	input, textarea {
		max-width: 100%;	
		}
		
	
	.about-wrap {
  		padding: 50px 0px;
		}

	.about-intro {
  		width: 100%;
		}
	.work-wrapper{
		padding: 50px 0px;
		}


}


